---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Isorna.dev Blog";
---
<BaseLayout pageTitle={pageTitle}>
  <ul>
    <li><a href="/posts/my-way/">My Way</a></li>
    <li><a href="/posts/post-2/">Post 2</a></li>
    <li><a href="/posts/post-3/">Post 3</a></li>
  </ul>
</BaseLayout>